

<%- include('./layout/Header') %>
    <%- include('./layout/Navbar') %>        

        <div class="showcase">
            <h1>Welcome to <span class="green-text">Express</span></h1>
        <br>

           <div class="containerHome">
                <h2 ><%= value%></h2>
                <br>
               
                <strong> >>You wanna learn Express ? </strong>
                <br>
                    <strong>>>Do you tired watching Tutoriel and you don't understand ?! </strong>
                <br>
                <strong> >>>Just Contact us and start your first cours</strong>
           

<%- include('./layout/Footer') %>
