<%- include('./layout/Header') %>
<%- include('./layout/Navbar') %>    


    <div class="showcase">
        <h1>Course <span class="green-text"> Summary</span></h1>
        <br>
        <h3>New Cours !!</h3>
        <br>

         <div class="Cont-Card">
                <div class="card">
                    <img src="https://miro.medium.com/max/766/1*uPL1uCtLBRSk6akPL2hNzg.jpeg" alt="Services-img" style="width:100%">
                    <div class="containerCard">
                    <h4><b>Express</b></h4>
                    </div>
                </div>
              
              <div class="card">
                <img src="https://miro.medium.com/max/900/1*b0TtGI6gWFLltL1QkRxVdg.png" alt="Services-img" style="width:100%">
                <div class="containerCard">
                  <h4><b>MonoGoDB</b></h4>
                </div>
              </div>

              <div class="card">
                <img src="https://accentsconagua.com/img/images_3/an-introduction-to-mongoose-for-mongodb-and-nodejs.jpg" alt="Services-img" style="width:100%">
                <div class="containerCard">
                  <h4><b>Monogoose</b></h4>
                </div>
              </div>
         

<%- include('./layout/Footer') %>
